@page "/"
@model Crisan_Adriana_proiect.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3> Now you can view available products and edit them</h3>
</div>
